
// Styling of form elements
form {
  padding: 20px;
  background: #f1f1f1;
}
.form-control{
  border-radius: 0;
  height: 50px;
  padding-right: 45px;
}
textarea.form-control {
  height: 120px;
  transition: all 0.4s ease-in-out;
  &:active, &:focus {
    height: 200px;
  }
}
.form-group {
  &.form-group-icons {
    position: relative;
    i {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 18px;
      color: #ccc;
    }
  }
}