$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_animations";
@import "_variables";
@import "_typography";
@import "_icons";
@import "_buttons";
@import "_menu";
@import "_forms";

html, body {
  height: 100% ;
}
#outer-wrap {
  margin-bottom: 40px;
}
img {
  max-width: 100%;
}
section {
  &.header {
    color: #666;
    h1, span {
      display: inline-block;
    }
    h1 {
      margin-top: 35px;
      font-size: 5em;
      font-weight:700;
      span {
        font-size: 0.5em;
        color: $brand-red;
        font-weight: 100;
      }
    }
  }
  &.body {
    p {
      font-size: 1.5em;
    }
  }
}
.shadow-box {
  box-shadow: 0 0 20px #ccc;
}
.features-list {
  -webkit-padding-start:0;
  -moz-padding-start:0;
  margin: 0 0 40px 0;
  li {
    transition: all 0.2s ease-in-out;
    -webkit-padding-start:0;
    padding: 20px 40px;
    background: #fff;
    list-style: none;
    font-size: 1.5em;
    &:nth-child(2n) {
      background: #f1f1f1;
    }
    &:hover {
      background: $brand-red;
      color: #fff;
      padding: 40px;
      span {
        border-color:#fff
      }
    }
    span{
      padding: 5px;
      border-bottom: 1px dotted #333;
    }
  }
}
#imageSlider {
  margin-top: 20px;
  li {
    padding: 0;
    text-align: center;
  }
}
iframe {
  border:none;
}
.contacts {
  font-size: 1.5em;
  list-style: none;
  -webkit-padding-start:0;
  -moz-padding-start:0;
  li {
  -webkit-padding-start:0;
  -moz-padding-start:0;
  a {
      color: #666;
      padding: 20px;
      display: block;
      &:hover {
        background: $brand-red;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.contact-link {
  font-size: 1.5em;
  padding: 10px;
  margin-right:40px;
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #ccc;
  a, a:hover {
    color: #333;
    text-decoration: none;
  }
}
.list-gallery {
  li {
    width: 49%;
  }
}

// Snippets
.align-center {
  text-align: center;
}
ul {
  list-style: none;
  -webkit-padding-start:0;
  &.list-block {
    li {
      display: inline-block;
    }
  }
}
