<div class="row">
  <div class="col-md-12">
    <section class="header animated fadeInUp">
      <h1>Where? <span>Find us in <br> following venues</span></h1>
      <hr>
    </section>
    <section class="body">
      <div class="col-md-4">
        <a href="http://www.ebay.com/itm/Hair-pins-organizer-Hair-style-accessory-Magnetic-stripe-/151554872779?pt=LH_DefaultDomain_0&hash=item23495fd5cb">
          <img src="images/ebay-logo.png" alt="Visit our store on ebay"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.etsy.com/listing/216286601/hair-pins-organizer-hair-accessories?">
          <img src="images/etsy-logo.png" alt="Visit our store on Etsy"/>
        </a>
      </div>
    </section>
    <hr>
  </div>
</div>