<div class="row">
  <div class="col-md-12">
    <section class="header animated fadeInUp">
      <h1>Contacts
      </h1>
      <hr>
    </section>
    <section class="body">
       <div class="col-md-4">
         <span class="contact-link fx fx-1 fx-2"><a href="mailto:faria.grupp@gmail.com"><i class="icon-mail"></i> <b>Email</b> faria.grupp@gmail.com</a> </span>
       </div>
       <div class="col-md-4">
         <span class="contact-link fx fx-1 fx-2"><a href="skype:nikzz"><i class="icon-skype"></i> <b>Skype</b> nikzz</a></span>
       </div>
    </section>
    <hr>
  </div>
</div>