<div class="row">
  <div class="col-md-6">
    <section class="header">
      <h1>Designs <span>You can suggest<br> yours</span></h1>
      <hr>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="images/image_3.jpg" alt=""/>
  </div>
  <div class="col-md-6">
    <img src="images/image_4.jpg" alt=""/>
  </div>
  <div class="col-md-6">
    <img src="images/image_5.jpg" alt=""/>
  </div>
  <div class="col-md-6">
    <img src="images/image_6.jpg" alt=""/>
  </div>
</div>