<div class="row">
  <div class="col-md-7">
    <section class="header animated fadeInUp">
      <h1>Organize <span>Hair pins &<br/>Manicure tools</span></h1>
      <hr>
    </section>
    <section class="body">
      <p>Keep your hair pins organized and always in place with this beautiful, handmade magnetic stripe.</p>
      <ul id="imageSlider">
        <li data-thumb='images/image_1.jpg'>
          <a href=""><img src="images/image_1.jpg" alt=""/></a>
        </li>
        <li data-thumb='images/image_2.jpg'>
          <a href=""><img src="images/image_2.jpg" alt=""/></a>
        </li>
        <li data-thumb='images/image_3.jpg'>
          <a href=""><img src="images/image_3.jpg" alt=""/></a>
        </li>
        <li data-thumb='images/image_4.jpg'>
          <a href=""><img src="images/image_4.jpg" alt=""/></a>
        </li>
        <li data-thumb='images/image_5.jpg'>
          <a href=""><img src="images/image_5.jpg" alt=""/></a>
        </li>
        <li data-thumb='images/image_6.jpg'>
          <a href=""><img src="images/image_6.jpg" alt=""/></a>
        </li>
      </ul>
    </section>
  </div>
  <div class="col-md-5">
      <section class="header animated fadeInDown">
        <h1>Features <span>video</span></h1>
        <hr>
      </section>
      <section class="body shadow-box">
        <div id="iframeBox"></div>
        <ul class="features-list" data-ng-controller="FeaturesCtrl">
          <li data-ng-repeat="feature in features" class="repeat-animation">
            <span>{{$index+1}}</span> {{feature.name}}
          </li>
        </ul>
      </section>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#imageSlider').lightSlider({
      item:1,
      gallery: true,
      auto: true,
      loop: true,
      duration: 1500,
      thumbItem:3,
      slideEndAnimatoin: true,
      pause: 5000,
      currentPagerPosition: 'middle'

    });
    function createIframe(){
      var i = document.createElement("iframe");
      i.src = "//www.youtube.com/embed/KPjPXn0omyg";
      i.scrolling = "auto";
      i.width = "100%";
      i.height = "315px";
      i.setAttribute('allowfullscreen','0');
      i.setAttribute('frameborder','0');
      document.getElementById("iframeBox").appendChild(i);
    }
    setTimeout(function() {
      createIframe()
    }, 2000) ;
  })

</script>